{% extends 'blog/base.html' %}


{% block content %}
    {% for post in posts %}
        <div class="post">
            {% if post.published_date %}
                <div class="date">
                    Published: {{ post.published_date }}
                </div>
            {% endif %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2><br>
            <!--pk is short for primary key, which is a unique identifier for each record in a database. Every Django model has a field which serves as its primary key, and whatever other name it has, it can also be referred to as "pk". Because we didn't specify a primary key in our Post model, Django creates one for us (by default, a field named "id" holding a number that increases for each record, i.e. 1, 2, 3) and adds it as a field to each of our posts. We access the primary key by writing post.pk, the same way we access other fields (title, author, etc.) in our Post object! -->
            
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}