.page-header {
    /*background-color: #C25100; */
    background: -webkit-linear-gradient(#cc2b5e, #753a88);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 2.1em;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

.content {
    margin-left: 40px;
    margin-right: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    font-size: 1.8em;
}

.date {
    color: #828282;
    width: 100%;
    text-align: right;
}

.save {
    float: right;
    padding-bottom: 40px;
    padding-top: -10px;
    width: 300px;
    height: 80px;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    margin-bottom: 70px;
    background-image: linear-gradient(to bottom right, #ec008c, #fc6767);
    color: white;
}

button:hover{
	background-image: linear-gradient(to bottom right, #cc2b5e, #753a88);
	color: white;
	
}

.edit{
	float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a{
    color: #000000;
    transition: color 1s;
}

.post h2 a:hover{
	background: -webkit-linear-gradient(#cc2b5e, #753a88);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

.col-sm-12{
	width: 100%;
	font-size: 30px;
	color: #625f5f;
	font-family: 'Satisfy', cursive;
}